#myHeader {
  background-color: lightblue;
  color: black;
  padding: 10px;
  text-align: center;
  position: relative;
} 
.myBody {
	text-align: left;
}
.box{
border:3px solid black;
background-color: lightgray;
position: relative;
font-family: sans, sans-serif;
color: black;
float: centre;
margin-top: 25px;
margin-right: 26%;
margin-left: 26%;
padding: 10px;
font-size: 1.5em;
}
p{
margin:20px; 
clear:both;
}
input{
width: 200px;
font-size: 1em; 
margin: 2px;
float: right; 
}
span{
color:red;
}
